{% extends 'class/base.html' %}
{% block head %}
  <title> About </title>
{% endblock %}
{% block content %}
<div class="content-textbox">
  <h3><b>Course Description</b></h3>
    <p>
      This is an advanced lecture/laboratory course
      implementing major techniques used in the
      biotechnology industry. Topics include tissue
      culture methods, purification and analysis of nucleic
      acids and proteins, DNA amplification and cloning
      procedures, protein identification methods, scientific
      information retrieval, and technical writing. This
      course is intended for students seeking employment
      opportunities in biotechnology. (FT) AA/AS; CSU
    </p>

  <h3><b>Certificate of Performance Applied Biotechnology</b></h3>
  <p>
    The Applied Biotechnology Certificate of
    Performance Award is authorized and issued by
    the Biology Department to recognize student
    achievement in the field of biotechnology. It is
    not intended to be, nor will it be recognized as,
    an official state approved program. It is intended
    to recognize students who have successfully
    demonstrated competence in intensive laboratory
    techniques and soft skills necessary to meet
    entry-level employment requirements of the
    biotechnology industry.
  </p>

  <table class="table table-striped">
    <caption> Courses required for the Certificate Units </caption>
    <tbody>
      <tr>
        <td>BIOL 206</td>
        <td>Biotechnology Instrumentation</td>
        <td>6</td>
      </tr>
      <tr>
        <td>BIOL 91 </td>
        <td>Employment Skills in Biotechnology</td>
        <td>4</td>
      </tr>
      <tr>
        <td></td>
        <td> or </td>
        <td></td>
      </tr>
      <tr>
        <td>BIOL 109</td>
        <td>Preparation for Biotechnology</td>
        <td>4</td>
      </tr>
      <tr>
        <td></td>
        <td> Total Units </td>
        <td>10-11</td>
      </tr>
    </tbody>
  </table>

<p>
  Biology
  San Diego City College • 2015–2016 157
  *A Certificate of Performance is a departmental
  award that does not appear on the student’s
  transcript. All courses must be completed within the
  San Diego Community College District
Prerequisite: Biology 109 or Biology 205, each with a
grade of “C” or better, or equivalent.
Corequisite: Biology 91.
  </p>
{% endblock %}
